html,
body {
  height: 100%;
}

body {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 6%,
      rgba(5, 106, 185, 1) 35%,
      rgba(62, 180, 204, 1) 72%,
      rgba(0, 212, 255, 1) 94%);
  color: white;
}

button {
  background: rgba(5, 106, 185, 1);
  padding: 0 25px;
  color: aliceblue;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 1.2em;
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  font-weight: bolder; /* texto negrito */
  transition: 0.4s; /* efeito de hover */
}

button:hover{
  background-color:rgba(9, 9, 121, 1) ;
}